<header>
  <div class="logo">
    <a href="/">
      <div class="icon-box" [ngStyle]="{ 'background-color': background }">
        <img [src]="icon" />
      </div>
      <span class="font-heading-s">{{ title }}</span>
    </a>
  </div>
  <div class="mode-switch">
    <img
      [src]="
        this.darkMode
          ? '/images/icon-sun-light.svg'
          : '/images/icon-sun-dark.svg'
      "
    />
    <label class="switch">
      <input
        type="checkbox"
        [checked]="darkModeService.getCurrentDarkModeValue()"
        (click)="switchDarkMode()"
      />
      <span class="slider round"></span>
    </label>
    <img
      [src]="
        this.darkMode
          ? '/images/icon-moon-light.svg'
          : '/images/icon-moon-dark.svg'
      "
    />
  </div>
</header>
