@import "../../../vars";

.quiz-summary {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 64px;
  }

  @media (max-width: 375px) {
    gap: 40px;
  }

  > div {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .card {
    background-color: $pure-white;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);
    margin-bottom: 32px;

    .logo {
      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: $navy;
      margin-bottom: 40px;

      @media (max-width: 375px) {
        gap: 16px;
        margin-bottom: 16px;
      }

      .icon-box {
        max-width: 56px;
        max-height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 8px;

        @media (max-width: 375px) {
          max-width: 40px;
          max-height: 40px;
        }

        img {
          width: 100%;
        }
      }
    }

    .score {
      margin-bottom: 16px;

      @media (max-width: 375px) {
        font-size: 88px;
      }
    }

    .score-subtitle {
      color: $grey-navy;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $pure-white;
    background-color: $purple;
    padding: 32px;
    border-radius: 24px;
    text-align: center;

    @media (max-width: 375px) {
      padding: 20px;
      border-radius: 12px;
    }
  }
}
