.select-category {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 64px;
  }

  @media (max-width: 375px) {
    gap: 32px;
  }

  > div {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .font-heading-l-regular {
    margin-bottom: 48px;
    display: block;

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  p {
    color: #626c7f;
  }

  a {
    text-decoration: none;
    color: #313e51;
  }
}
