@import "../../../vars";

.quiz {
  width: 100%;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  > div {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }

    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        display: block;
        margin-bottom: 28px;

        @media (max-width: 375px) {
          margin-bottom: 12px;
        }
      }

      p {
        max-width: 465px;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }

      progress {
        margin-bottom: 112px;
        width: 100%;
        max-width: 465px;
        background-color: $pure-white;
        height: 16px;
        border-radius: 100vw;
        padding: 4px;

        @media (max-width: 768px) {
          margin-top: 40px;
          max-width: 100%;
          margin-bottom: 64px;
        }

        @media (max-width: 375px) {
          margin-top: 24px;
          margin-bottom: 40px;
        }

        &::-webkit-progress-bar {
          background-color: $pure-white;
          border-radius: 100vw;
        }

        &::-webkit-progress-value {
          background-color: $purple;
          border-radius: 100vw;
        }
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
