/* You can add global styles to this file, and also import other style files */
@import "./vars.scss";

@font-face {
  font-family: Rubik-Regular;
  src: url("/fonts/static/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Rubik-Medium;
  src: url("/fonts/static/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Rubik-Light;
  src: url("/fonts/static/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: Rubik-Italic;
  src: url("/fonts/static/Rubik-Italic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}

html {
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

body {
  margin: 0;
  color: #313e51;
  font-size: 1rem;
  font-family: "Rubik";
}

.screen {
  min-height: 100vh;
  background-color: $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/pattern-background-desktop-light.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    align-items: flex-start;
    padding: 54px 64px;
  }

  @media (max-width: 375px) {
    padding: 24px;
  }
}

.container {
  width: 100%;
  max-width: 1160px;
}

.font-display {
  font-family: "Rubik-Medium";
  font-size: 7.2rem;
  line-height: 100%;
}

.font-heading-l-bold {
  font-family: "Rubik-Medium";
  font-size: 3.2rem;
  line-height: 100%;
}

.font-heading-l-regular {
  font-family: "Rubik-Light";
  font-size: 3.2rem;
  line-height: 100%;
}

.font-heading-m {
  font-family: "Rubik-Medium";
  font-size: 1.8rem;
  line-height: 100%;
}

.font-heading-s {
  font-family: "Rubik-Medium";
  font-size: 1.4rem;
  line-height: 100%;
}

.font-body-m {
  font-family: "Rubik-Regular";
  font-size: 1.2rem;
  line-height: 150%;
}

.font-body-s {
  font-family: "Rubik-Italic";
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

.dark-mode {
  background-color: $dark-navy;
  background-image: url("/images/pattern-background-desktop-dark.svg");

  .font-heading-l-regular,
  .font-heading-l-bold,
  .font-heading-m {
    color: #fff;
  }

  .font-body-s {
    color: $light-bluish !important;
  }

  .button {
    background-color: $navy !important;
    color: $pure-white !important;
  }

  .button .icon-box {
    background-color: $light-grey;
    color: $grey-navy;
  }

  .logo span {
    color: $pure-white !important;
  }

  progress,
  progress::-webkit-progress-bar,
  .card {
    background-color: $navy !important;
  }

  .score-subtitle {
    color: $light-bluish !important;
  }
}
